<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/index.css">
    <title>All Chats</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <h1>All Chats</h1>

    <div id="chatContainer">
        <!-- Chat messages will be dynamically loaded here -->
        <% for( let chat of chats ){ %>
            <div id="chat">
                <span id="username">
                    <%= chat.from%>
                </span>
                <p>
                    <%= chat.msg%>
                </p>
                <p id="time">
                    <%= chat.createdAt.toString().split(" ")[4]%></p>

                <!-- for edit the chat -->
                <div id="edit">

                        <form action="/chats/<%=chat._id%>/edit/" method="GET">
                            <button type="submit">
                                <i class="fa-solid fa-marker"></i>
                            </button>
                        </form>
                        <form action="/chats/<%=chat._id%>?_method=DELETE" method="post">
                            <button type="submit">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </form>
                        <!-- for view the chat -->
                         <form action="/chats/<%=chat._id%>" method="GET">
                            <button type="submit">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </form>
            </div>
    </div>
    <%}%>
        </div>

        <div class="newChat">
            <form action="/chats" method="post">
                <input type="text" placeholder="username" name="from" id="user">
                <input type="text" placeholder="message" name="msg" id="msg">
                <input type="submit" value="send" id="button">
            </form>
        </div>

</body>

</html>